# Common
SEED_PASSWORD=""
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# S3
S3_ACCESS_KEY=""
S3_SECRET_ACCESS_KEY=""
S3_REGION=""
NEXT_PUBLIC_S3_REGION=""
NEXT_PUBLIC_S3_BASE_URL=""

# Development
MONGODB_URI=""
S3_BUCKET_NAME=""
NEXT_PUBLIC_S3_BUCKET=""